body{
    top: 0;
    left: 0;
    margin: 0;
    display: grid;
    background-color: rgb(215, 184, 243);
}

#janela_input{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0%;
    display: none;
    justify-content: center;
    align-items: center;
}

#janela_input.janela_input{
    display: flex;
    
}
.janela{
    background: rgb(167, 167, 168);
    width: 30%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid rgb(97, 96, 96);   
}  

a{
    color: aliceblue;
}
.imgDelet{
    width: 21px;
}
.img-logo{
    width: 90px;
}
.navbar{
    width: 100%;
    height: 40px;
    padding: 5 0 5px 5px;
    display: flex;
    background-color: #6e43bd;
    min-width: 460px;
}
#navbar{
    display: flex;
    padding: 10px 0 0 20px;
    gap: 20px;
}

.container{
    width: auto;
    height: auto;
    background-color: rgb(191, 156, 231);
    border: 1px solid rgb(81, 13, 129);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(12px);
}

#conteudo-ini{
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header{   
    text-align: center;
    
}

.lista-tabela{
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 215, 250);
     
}

/* -- by Eric */
input[type=checkbox] {
    transform: scale(1.5);
    filter: invert(100%) hue-rotate(18deg) brightness(1.7); 
}
