#janela-input{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.janela{
    background: white;
    width: 30%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid rgb(77, 72, 72);   
}   