body{
    top: 0;
    left: 0;
    margin: 0;
    display: grid;
    background-color: rgb(215, 184, 243);
}

#janela_input{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0%;
    display: none;
    justify-content: center;
    align-items: center;
}

#janela_input.janela_input{
    display: flex;
    
}
.janela{
    background: rgb(167, 167, 168);
    width: 30%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid rgb(97, 96, 96);   
}  

a{
    color: aliceblue;
}
.imgDelet{
    width: 21px;
}
.img-logo{
    width: 90px;
}
.navbar{
    width: 100%;
    height: 40px;
    padding: 5 0 5px 5px;
    display: flex;
    background-color: #6e43bd;
    min-width: 460px;
}
#navbar{
    display: flex;
    padding: 10px 0 0 20px;
    gap: 20px;
}

.container{
    width: auto;
    height: auto;
    background-color: rgb(191, 156, 231);
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#conteudo-ini{
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header{   
    text-align: center;
}

.lista-tabela{
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 215, 250); 
}

/*td {
    position: relative;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 0.25em 0;
    user-select: none;
    &::before {
      position: absolute;
      content: attr(data-content);
      color: $lightgray;
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      text-decoration-color: $black;
      transition: {clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}*/
